.navbar {
    background-color: #4c624c;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-items {
    display: flex;
    gap: 1rem;
  }
  
  .navbar-link {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color: #d8d8d8;
  }
  
  .navbar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5252;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .navbar-button:hover {
    background-color: #d81b1b;
  }
  
  .navbar-button-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
  }
  