.navbar {
  background-color: #1a202c;  /* Dark gray background */
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
}
.navbar-brand {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-logo {
  width: 50px;
  height: auto;
  margin-right: 15px;
  border-top: 1px solid gold;
  border-right: 1px solid gold;
}

.navbar-items {
  display: flex;
  gap: 20px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  border-top: 1px solid gold;
  border-right: 1px solid gold;
}

.navbar-link:hover {
  color: gold;
}

.navbar-button {
  color: white;
  background-color: #1a202c;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-top: 1px solid gold;
  border-right: 1px solid gold;
}

.navbar-button:hover {
  background-color: #e6b800;  /* Darker gold for hover */
}

.navbar-button-icon {
  width: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.active {
  color: gold; /* or any other color/style you'd like for the active tab */
  border-bottom: 2px solid gold; /* optional: adds an underline to the active link */
}

.navbar-dropdown {
  position: relative;
  color: white;
  cursor: pointer;
  padding: 0 10px;
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}

.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a202c;
  min-width: 160px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 0;
}

.navbar-dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar-dropdown-content a:hover {
  background-color: gold;
  color: #1a202c;
}


/* For responsiveness */
@media (max-width: 768px) {
  .navbar-items {
    display: flex;  /* Hide on smaller screens */
  }
}
